<div class='box'>
  <h1>Pairing Sessions</h1>
  <ul class='detail session_listing'>
    <% @sessions.each do |session| %>
      <% date = session.from %>
      <li class='session'>
        <div class='date_as_calendar'>
          <div class='month'>
            <%= date.month %>
          </div>
          <div class='day'>
            <%= date.day %>
          </div>
        </div>
        <ul class='participants box'>
          <li><div class='name'><%= session.pair_1.name %></div></li>
          <li><div class='name'><%= session.pair_2.name %></div></li>
        </ul>
      </li>
    <% end %>

  </ul>
</div>
