<div class='box'>
  <h1>Pairing Sessions</h1>
  <ul class='detail session_listing'>
    <% @sessions.each do |session| %>
      <li class='session'>
        <div class='date_as_calendar'>
          <div class='month'>
            <%= session.start.strftime("%b") %>
          </div>
          <div class='day'>
            <%= session.start.strftime("%e") %>
          </div>
        </div>
        <ul class='participants box'>
          <% session.participants.each do |participant| %>
            <li>
              <div class='name'><%= participant.name %></div>
              <div class='gravatar'><%= image_tag participant.gravatar_url %></div>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
