html {
  margin: 0px;
}

body {
  background: lightblue;
  margin: 0px;
  padding: 0px;
}

#header {
  width: 100%;
  background: green;
  height: 50px;

  h1 {
    margin: 0px 0px 0px 100px;
    color: lightblue;
  }
}

#content {
  // border: 1px solid black;
  float: left;
  width: 650px;
  margin-left: 200px;
  margin-top: 20px;
}


#sidebar {
  float: right;
  width: 250px;
  background-color: green;
  height: 500px;
  border-left: 2px dashed white;
  border-top: 2px dashed white;
  border-bottom: 2px dashed white;
  font-size: 20px;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;

  .navigations {
    a {
      text-decoration: none;
      color: white;

      &:hover:before {
        margin-right: 10px;
        content: '»';
      }
    }
  }

}

.clear {
  clear: both;
}
